<!doctype html>
<html>
	<head>	
  		<title>Cloud4all Local Server</title>
  		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  		<script src="../lib/jquery-1.9.1.min.js"></script>
  	</head>
  	<body>
  		<div class="container">
  			<h1>CLOUD4all Local Server</h1>
  			<form role="form" class="form-inline">
  				<div class="form-group">
  					<input type="text" id="token-input" class="form-control" placeholder="insert your token" />
  					<input type="submit" value="submit" class="btn btn-primary" />
  				</div>
  			</form>
  		</div>
  	</body>
</html>